.suggestions-service {
    margin-top: 5px;
    margin-left: 5px;
}

.suggestions-service-input {
    margin-top: 5px;
    margin-left: 5px;
}

.suggestions-service-button {
    margin-top: 5px;
    margin-left: 5px;
}

