.settings-ai-level {
    margin-left: 10px;
    margin-top: 20px;
}

.settings_property_label {
    margin-left: 10px;
}

.settings_property_value {
    margin-left: 30px;
    /*width: 50px;*/
}

.settings_dropdown {
    width: 200px;
}